@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply lg:text-5xl md:text-4xl text-3xl font-bold my-4;
  }
  h2 {
    @apply lg:text-4xl md:text-3xl text-2xl font-bold my-3;
  }
  h3 {
    @apply lg:text-3xl md:text-2xl text-xl my-2;
  }
  h4 {
    @apply lg:text-2xl md:text-xl text-lg font-bold my-4;
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
